@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8;
}

.btn {
  @apply text-white shadow-lg py-2 px-6 rounded-lg;
}

.fam {
  font-family: "Cairo", sans-serif;
}
.for-not-found {
  @apply font-bold text-2xl  md:text-4xl text-center col-span-12 my-10;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif !important;
  /* min-height: 120vh !important; 
   */
  background-color: #eee;
}

.imageDetails img {
  width: calc(96% / 4);
}

.heart-Number {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-text {
  color: #9dc3d6;
  font-weight: 300;
}

.para-about {
  max-width: 350px;
}

.read-about {
  font-weight: 400;
}
.head-dash {
  font-weight: 500;
  font-size: 24px;
}

.para-dash {
  color: #797979;
  font-size: 14px;
  font-weight: 300;
}

.request {
  background-color: #5b6ad0;
  color: white;
}

.color-dash {
  position: absolute;
  width: 30px;
  height: 3px;
}

.imgland {
  width: 100%;
  height: 238px;
}

.links {
  color: #007aff !important;
  font-weight: 600;
}

.imagecardflat {
  height: 282px;
}

.imgreg {
  width: 75px !important;
  height: 75px !important;
}

/* .users {
  font-weight: 600 !important;
} */

/* .dashb {
  max-width: 30px !important;
  height: 50px !important;
  background-color: red !important;
} */

@media (max-width: 768px) {
  .listNav {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: all 0.5s;
  }

  .listNav nav {
    height: 100%;
  }
  .notAct nav {
    height: 100%;
  }

  .listNav nav ul {
    flex-direction: column;
    background-color: white;
    height: 100%;
    box-shadow: 2px 2px 10px 5px #eee;
    position: relative;
  }
  .notAct nav ul {
    flex-direction: column;
    background-color: white;
    height: 100%;
    position: relative;
  }

  .notAct {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow: hidden;
    transition: all ease-in 0.3s;
  }

  .listNav nav ul li:first-child {
    margin-top: 50px;
  }
  .notAct nav ul li:first-child {
    margin-top: 50px;
  }
}
