@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif !important;
  /* min-height: 120vh !important; 
   */
  background-color: #eee;
}

.banner-text {
  color: #9dc3d6;
  font-weight: 300;
}

.para-about {
  max-width: 350px;
}

.read-about {
  font-weight: 400;
}
.head-dash {
  font-weight: 500;
  font-size: 24px;
}

.para-dash {
  color: #797979;
  font-size: 14px;
  font-weight: 300;
}

.request {
  background-color: #5b6ad0;
  color: white;
}

.color-dash {
  position: absolute;
  width: 30px;
  height: 3px;
}

.imgland {
  width: 100%;
  height: 238px;
}

.links {
  color: #007aff !important;
  font-weight: 600;
}

.imagecardflat {
  height: 282px;
}

.imgreg {
  width: 75px !important;
  height: 75px !important;
}

/* .users {
  font-weight: 600 !important;
} */

/* .dashb {
  max-width: 30px !important;
  height: 50px !important;
  background-color: red !important;
} */
